<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hello Admin,This is Home page,welcome back</span></h1>
<p>have a great day</p>

<form action="addSong" method="post">
<label>Name:</label>
<input type="text" name="name"/><br>
<label>Artist:</label>
<input type="text" name="artist"/><br>
<label>Genre:</label>
<input type="text" name="genre"/><br>
<label>Link:</label>
<input type="text" name="link"/><br>
<input type="submit">
</form>
</body>
</html>